#App {
  text-align: center;
  width: 1600px;
  margin: auto;
  display: grid;
  grid-template-rows: 60px 800px 100px;
}

#App-header {
  background-color: #222;
  height: 60px;
  color: white;
  display: grid;
  grid-template-columns: 60px 100px 1040px 400px;
}

#Header-logo {
  float: left;
  height: 50px;
  padding: 5px;
}

#Header-title {
  float: left;
  text-align: left;
  height: 50px;
  padding: 5px;
}

#Header-notif {
  float: left;
  height: 50px;
  padding: 5px;
}

.Notif-karta {
  float: right;
  width: 80px;
  height: 40px;
  padding: 5px;
  margin-right: 15px;
  background-color: #cfcfcf;
}

.Notif-karta:hover {
  background-color: #aaaaaa;
}

div.Notif-karta > p {
  padding: 0;
  margin: 0;
  font-size: 0.6em;
  color: black;
}

#Karta-timestamp {
  text-align: right;
}
#Karta-symbol {
  text-align: right;
}
#Karta-strat {
  float: left;
  text-align: left;
  vertical-align: bottom;
}
#Karta-profit {
  float: right;
  font-size: 0.8em;
  text-align: right;
}

/* The animation code */
@keyframes statusAni {
  0% {margin-left: 20px;}
  50% {margin-left: 0px;}
  100% {margin-left: 20px;}
}

#Header-status {
  height: 60px;
  text-align: start;
  margin-top: 20px;
  margin-left: 20px;
  animation-name: statusAni;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#App-container {
  display: grid;
  grid-template-columns: 1200px 400px;
  grid-template-rows: 800px;
}

#App-chart {
  background-color: #eeeeee;
  width: 1200px;
  height: 800
}

#App-menu {
  background-color: #cfcfcf;
  display: grid;
  grid-template-rows: auto;
  padding: 20px;
  grid-row-gap: 20px;
}

.Menu-gumb {
  background-color: #b4b4b4;
  height: auto;
  padding: auto;
}

.Menu-gumb:hover {
  background-color: #a7a7a7;
}

.Gumb-tekst {
  text-align: start;
  margin-left: 20px;
}

