#App {
  text-align: center;
  width: 1600px;
  margin: auto;
  display: grid;
  grid-template-rows: 60px 800px;
}

#App-header {
  background-color: #222;
  color: white;
  display: grid;
  grid-template-columns: 160px 1040px 400px;
  grid-template-rows: 60px;
}

#App-main {
  display: grid;
  grid-template-columns: 1200px 400px;
  grid-template-rows: 800px;
}