#Header-title {
  display: grid;
  grid-template-rows: 5px 50px 5px;
  grid-template-columns: 5px 50px 5px 100px;
  grid-template-areas:
    ". . . ."
    ". logo . name"
    ". . . .";
}

#Title-logo {
  grid-area: logo;
  height: 50px;
  width: 50px;
}

#Title-name {
  grid-area: name;
  text-align: left;
  height: 50px;
  user-select: none;
}