#Header-rolodex {
  padding: 5px;
  padding-right: 0px;
}

.Rolodex-karta {
  float: right;
  width: 80px;
  height: 40px;
  padding: 5px;
  margin-left: 10px;
  background: linear-gradient(rgb(255, 255, 255), rgb(156, 156, 156));
}

.Rolodex-karta:hover {
  background: linear-gradient(rgb(214, 214, 214), rgb(156, 156, 156));
}

div.Rolodex-karta > p {
  padding: 0;
  margin: 0px;
  font-size: 0.6em;
  color: black;
  user-select: none;
}

#Karta-timestamp {
  text-align: right;
  margin-top: -3px;
}

#Karta-symbol {
  text-align: right;
}

#Karta-strat {
  float: left;
  text-align: left;
  vertical-align: bottom;
}

#Karta-profit {
  float: right;
  font-size: 0.8em;
  text-align: right;
}