
.App {
  text-align: center;
}

.App-logo {
  float: left;
  height: 50px;
}

.App-container {
  display: flex;
}

.App-header {
  float:none;
  background-color: #222;
  height: 50px;
  padding: 5px;
  color: white;
}

.App-naslov {
  float: left;
}

.App-chart {
  background-color: #0000cc;
  width: 1200px;
  flex: none;
  float: left;
  
}

.App-menu {
  background-color: #660033;
  flex: auto;
  float: right;
}