#Side {
  background-color: #aaaaaa;
  display: grid;
  grid-template-areas:
    " a a a "
    " b b b "
    " b b b ";
  grid-template-rows: 508px 106px 106px;
  padding: 20px;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

#Side-konzola {
  border-style: double;
  border-color: #222;
  border-width: thin;
  background-color: #eeeeee;
  grid-area: a;
}

#Side-menu {
  grid-area: b;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.Menu-gumb {
  background-color: #eeeeee;
  border-style: double;
  border-color: #222;
  border-width: thin;
}

/* The animation code */
@keyframes hoverGumbOn {
  0% {width: 75px; margin-top: 15px;}
  100% {width: 65px; margin-top: 15px;}
}
@keyframes hoverGumbOff {
  0% {width: 65px; margin-top: 15px;}
  100% {width: 75px; margin-top: 15px;}
}

.Menu-gumb:hover .Gumb-ikona {
  animation: hoverGumbOn 0.04s ease-in-out;
  animation-fill-mode: forwards;
}

.Gumb-ikona {
  background-color: #eeeeee;
  width: 75px;
  margin-top: 15px;
  float: center;
  animation: hoverGumbOff 0.04s ease-in-out;
}

/* Tooltip container */
.Menu-gumb {
    background-color: #eeeeee;
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.Menu-gumb .Gumb-tekst {
    visibility: hidden;
    width: 100%;
    background-color: black;
    color: #fff;
    text-align: center;
    /*padding: 5px 0;*/
    border-radius: 6px 6px 0px 0px;
    bottom: -22px;
    left: 0px;
    opacity: 0;
    transition: opacity 0.5s;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.Menu-gumb:hover .Gumb-tekst {
    visibility: visible;
    opacity: 1;
}

