* {
    font-family: 'Source Sans Pro';font-size: 22px;
}

#video-krug { 

    background-color: blue;

    width: 800px;
    height: 800px;
    border-radius: 400px;

    position: relative;
    top: -150px;
    left: -150px;

    overflow: hidden;

}

video {
    width: 1200px;
    height: 1200px;
    position: absolute;
    
    top: -120px;
    left: -120px;

    /* opacity: 0.5 */

}